* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #3c3a39;
  height: 92px;
  padding: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  transition: transform 2s;
}

.logo:hover {
  transform: rotate(360deg);
}

.logo a {
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67.5px;
}

.menu-display {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3c3a39;
  z-index: 999;
}

.close-container {
  margin-top: 34px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 90%;
}

#close-modal-btn {
  transition: transform 0.3s;
}

#close-modal-btn:hover {
  color: #c75300;
  transform: scale(1.1);
}

.close-btn {
  background-color: transparent;
  padding: 12px;
  color: #979493;
  border: none;
  outline: none;
  transition: transform 0.2s;
}

.close-btn:hover {
  color: #e96608;
  transform: scale(1.14);
}

.mobile-list {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  width: 90%;
}

.mobile-list li {
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 24px;
  border-bottom: 1px solid #6f6c6b;
}

.mobile-list a {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #fff5e1;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.btn {
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: none;
  transition: transform 0.3s;
}

.btn:hover {
  color: #c75300;
  transform: scale(1.15);
}

.cardTagGroup {
  padding: 4px 16px 22px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: white;
  list-style-type: none;
}

.nav li {
  transition: transform 0.3s;
}

.footerIcons {
  color: #505f79;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 15px 0 13px 0;
  height: 40px;
  width: 200px;
}

.footerIcons li a {
  color: #505f79;
}

.footerIcons li {
  transition: 0.3s;
}

.modal-tags li {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #3c3a39;
  padding: 10px 12px;
  border: 1px solid #979493;
}

.iconLinks li a {
  color: #dbd8d7;
}

.iconLinks li {
  transition: transform 0.3s;
}

.cardTagGroup li {
  margin-right: 12px;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
}

.footerIcons li:hover {
  transform: scale(1.25);
}

.footerIcons li a:hover {
  filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.nav li:hover {
  filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
  transform: scale(1.15);
}

.nav {
  display: none;
}

.headLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 590px;
  background-color: #1c1a19;
  padding: 0 24px 15px 24px;
  background-image: url(images/illustration.png);
  background-position-x: right;
  background-position-y: 325px;
  background-repeat: no-repeat;
  animation-duration: 3s;
  animation-name: entry-mob;
}

@keyframes entry-mob {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: right;
  }
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  animation-duration: 3s;
  animation-name: title;
}

@keyframes title {
  from {
    margin-left: -210%;
  }

  to {
    margin-left: 0;
  }
}

.title h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  line-height: 64px;
  margin-bottom: 15px;
  transition: transform 0.5s;
}

.aboutHead {
  width: 85vw;
  margin-top: 120px;
  margin-bottom: 130px;
  height: 560px;
  border-bottom: 1px solid #fff;
}

.aboutHead h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.37px;
  line-height: 81.5px;
  margin-bottom: 15px;
}

.title h1:hover {
  transform: skew(25deg);
}

.title h2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.title .mobileTitleP {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 35px;
  width: 90vw;
}

.deskTitleP {
  display: none;
}

.iconLinks {
  width: 200px;
  height: 0;
  color: #dbd8d7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.iconLinks li:hover {
  transform: scale(1.25);
}

.iconLinks li a:hover {
  filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 24px;
}

.worksTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 107px 0 0 0;
  width: 85vw;
  border-bottom: 1px solid #212121;
}

.worksTitle h2 {
  color: #1c1a19;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 50px;
  text-align: center;
}

.worksHeadline {
  width: 85vw;
}

.worksTopImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  height: 237px;
  background-image: url(images/stretching.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.worksHeadInfo {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.worksHeadInfo h3 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
  line-height: 44px;
  margin: 24px 0 12px 0;
}

.worksHeadInfo p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #091e42;
}

.tagGroup {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.tagGroup div {
  margin-right: 12px;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.projectBtn {
  margin-bottom: 24px;
  height: 48px;
  width: 327px;
}

.projectBtn button {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
}

.projectBtn button:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  transition: 0.4s;
}

.projectBtn button:focus {
  color: #f4f1f0;
  background-color: #e05304;
  transition: 0.4s;
  border: none;
}

.projectBtn button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.containerDesk {
  display: none;
}

.containerMobile {
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr;
  row-gap: 24px;
  margin-bottom: 120px;
  width: 85vw;
}

.main-container {
  filter: blur(0);
}

.main-container.active {
  filter: blur(5px);
}

.modal-mobile {
  max-height: calc(100vh - 4.3vw);
  transform: scale(0);
  transition: 200ms ease-in-out;
  overflow-y: auto;
  top: 12px;
  bottom: 12px;
  left: 14px;
  right: 14px;
  background-color: #ffff;
  position: fixed;
  z-index: 999;
  padding: 16px;
}

.modal-mobile.active {
  transform: scale(1);
}

.modalm-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 82px;
  margin-bottom: 5px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.modalm-title h2 {
  font-family: 'Roboto', sans-serif;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.modalm-title i {
  color: #67798e;
  margin-top: 10px;
  margin-right: 10px;
}

.modal-tags {
  width: 85%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.modalm-img {
  height: 37vh;
  background-image: url(images/details_mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-text-mobile {
  font-family: 'Inter', sans-serif;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 18px;
}

.modal-text-desk {
  display: none;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-btn {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  padding: 0.6rem;
  border: none;
}

.modal-btn:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  transition: 0.4s;
}

.modal-btn:focus {
  color: #f4f1f0;
  background-color: #e05304;
  border: none;
}

.modal-btn:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.modal-btn i {
  margin-left: 12px;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.card {
  height: 386px;
  background-image: url(images/cardBack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.info {
  padding: 0 16px;
  list-style-type: none;
}

.info h3 {
  color: white;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.info p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.bottomBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b00;
  height: 48px;
  width: 100%;
}

.bottomBtn .cardButton {
  width: 100%;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
}

.bottomBtn .cardButton:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  transition: 0.4s;
}

.bottomBtn .cardButton:focus {
  color: #f4f1f0;
  background-color: #e05304;
  transition: 0.4s;
  border: none;
}

.bottomBtn .cardButton:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.about {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1a19;
  background-image: url(images/illustration2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 410px;
}

.aboutHead p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.aboutHead .getButton {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
}

.aboutHead .getButton:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  transition: 0.4s;
}

.aboutHead .getButton:focus {
  color: #f4f1f0;
  background-color: #e05304;
  transition: 0.4s;
  border: none;
}

.aboutHead .getButton:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.aboutLine {
  display: none;
}

.techList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 130px;
  width: 85vw;
}

.list {
  list-style-type: none;
}

.list .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-top: 12px;
}

.list .title i {
  color: #ff6b00;
  padding-right: 14px;
}

.list .title .flip {
  transform: rotate(-45deg);
}

.list .title h3 {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-right: 14px;
}

.list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.list .techs {
  margin-top: 44px;
}

.list .techs li {
  margin-bottom: 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 834px;
  padding: 120px 24px 0 24px;
  width: 85vw;
}

.titleBox {
  width: 85vw;
}

.titleBox .contactTitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  margin-bottom: 58px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 330px;
  width: 85vw;
}

.contactForm ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.contactForm .smallInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
}

.smallInput input {
  height: 17px;
  width: 90%;
  border: none;
}

.smallInput input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  opacity: 0.8;
}

.messAreaInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messAreaInput textarea {
  width: 100%;
  background-color: #fbf8f7;
  height: 90px;
  border: none;
  margin-bottom: 24px;
}

.messAreaInput textarea::placeholder {
  font-family: "Inter", sans-serif;
  padding: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  opacity: 1;
}

.error {
  transform: scale(0);
}

.error.active {
  transform: scale(1);
  transition: 200ms ease-in-out;
  margin-left: 0;
  font-family: "Inter", sans-serif;
  padding: 12px 12px 12px 0;
  font-weight: 600;
  font-size: 14px;
  color: rgb(243, 38, 38);
  margin-bottom: 5px;
}

.contactForm .contactBtn {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
}

.contactForm .contactBtn:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  transition: 0.4s;
}

.contactForm .contactBtn:focus {
  color: #f4f1f0;
  background-color: #e05304;
  transition: 0.4s;
  border: none;
}

.contactForm .contactBtn:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.footerIconsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72px;
  border-top: 1px solid #dfe1e6;
  margin-bottom: 8px;
}

.footerIconsContainer::after {
  content: "";
  position: relative;
  background-color: #0d151e;
  height: 5px;
  border-radius: 10px;
  width: 134px;
}

@media only screen and (min-width: 667px) {
  .headLine {
    display: flex;
    align-items: center;
  }

  .mainContainer {
    width: 85vw;
  }

  .containerMobile {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 120px;
    width: 85vw;
  }

  .title .mobileTitleP {
    width: 60vw;
  }

  .tagGroup {
    width: 40%;
  }

  .modal-mobile {
    margin: 0 auto;
    width: 80vw;
    padding: 24px;
  }

  .modal-tags {
    width: 280px;
  }

  .modal-buttons {
    width: 320px;
  }

  .modalm-img {
    background-image: url(images/details.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .worksTopImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 85vw;
    height: 450px;
    background-image: url(images/stretchingDesk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .aboutHead p {
    width: 55vw;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    background-color: #3c3a39;
    height: 72px;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .toolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82vw;
  }

  .logo {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .logo a {
    text-decoration: none;
    color: white;
  }

  .nav {
    display: block;
    width: 300px;
  }

  .nav ul {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .nav ul a {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }

  .hourInfo {
    display: none;
  }

  .menu {
    display: none;
  }

  .headLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 755px;
    background-color: #1c1a19;
    padding: 0 25px 15px 25px;
    background-image: url(images/illustrationDesk.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
  }

  .mainContainer {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
  }

  .title h1 {
    color: #ff6b00;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: 0.37px;
    line-height: 81.5px;
    margin-bottom: 15px;
  }

  .title h2 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
  }

  .deskTitleP {
    display: block;
  }

  .title .deskTitleP {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: 15px;
    margin-right: 50px;
  }

  .mobileTitleP {
    display: none;
  }

  .mainContainer .iconLinks {
    width: auto;
    height: 40%;
    color: #dbd8d7;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .works {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .worksTitle {
    width: 80vw;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 114px;
    border-bottom: none;
  }

  .worksTitle h2 {
    padding-bottom: 0;
    width: 30%;
    text-align: left;
  }

  .worksTitle::after {
    content: "";
    height: 2px;
    width: 69%;
    background-color: #818181b4;
  }

  .worksHeadline {
    width: 80vw;
    height: 448px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .worksTopImage {
    height: 100%;
    width: 60vw;
    margin-top: 0;
    background-image: url(images/stretchingDesk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .headCard {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
  }

  .worksHeadInfo {
    width: 100%;
  }

  .worksHeadInfo h3 {
    font-size: 40px;
    margin-bottom: 24px;
    margin-top: 0;
  }

  .worksHeadInfo p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .headCard .tagGroup {
    margin-bottom: 24px;
  }

  .containerMobile {
    display: none;
  }

  .modal-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    padding: 24px;
    top: 15%;
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    margin-top: -7%;
  }

  .modalm-title {
    height: auto;
    font-family: "Crete Round", serif;
    font-weight: 400;
  }

  .modal-tags {
    width: 288px;
    margin-bottom: 50px;
  }

  .card-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modalm-img {
    width: 47vw;
    height: 72vh;
    background-image: url(images/details.png);
    background-size: cover;
  }

  .text-btn {
    height: 448px;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal-text-desk {
    display: block;
    font-family: 'Inter', sans-serif;
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
  }

  .modal-text-mobile {
    display: none;
  }

  .modal-buttons {
    width: 298px;
    margin-bottom: 5vh;
  }

  .containerDesk {
    width: 80vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 37px;
    margin-bottom: 120px;
  }

  .card-a {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.2) 35%,
        hsl(0 0% 0% / 1)
      ),
      url(images/card1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-a:hover {
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0),
        hsl(0 0% 0% / 0)
      ),
      url(images/card1.png);
    transform: scale(1.05, 1.05);
  }

  .card-a:hover .info {
    display: none;
  }

  .card-a:hover .cardTagGroup {
    display: none;
  }

  .bottomBtn {
    height: 58px;
  }

  .card-a .bottomBtn {
    display: none;
  }

  .card-b .bottomBtn {
    display: none;
  }

  .card-c .bottomBtn {
    display: none;
  }

  .card-d .bottomBtn {
    display: none;
  }

  .card-a:hover .bottomBtn {
    display: block;
  }

  .card-b {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.2) 35%,
        hsl(0 0% 0% / 1)
      ),
      url(images/card2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-b:hover {
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0),
        hsl(0 0% 0% / 0)
      ),
      url(images/card2.png);
    transform: scale(1.05, 1.05);
  }

  .card-b:hover .info {
    display: none;
  }

  .card-b:hover .cardTagGroup {
    display: none;
  }

  .card-b:hover .bottomBtn {
    display: block;
  }

  .card-c {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.2) 35%,
        hsl(0 0% 0% / 1)
      ),
      url(images/card3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-c:hover {
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0),
        hsl(0 0% 0% / 0)
      ),
      url(images/card3.png);
    transform: scale(1.05, 1.05);
  }

  .card-c:hover .info {
    display: none;
  }

  .card-c:hover .cardTagGroup {
    display: none;
  }

  .card-c:hover .bottomBtn {
    display: block;
  }

  .card-d {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.2) 35%,
        hsl(0 0% 0% / 1)
      ),
      url(images/card4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-d:hover {
    background-image:
      linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0),
        hsl(0 0% 0% / 0)
      ),
      url(images/card4.png);
    transform: scale(1.05, 1.05);
  }

  .card-d:hover .info {
    display: none;
  }

  .card-d:hover .cardTagGroup {
    display: none;
  }

  .card-d:hover .bottomBtn {
    display: block;
  }

  .aBtn {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background-color: #ff6b00;
    display: block;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .aBtn:hover {
    width: 99%;
    height: 99%;
    color: #ff6b00;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    transition: 0.4s;
  }

  .aBtn:focus {
    color: #f4f1f0;
    background-color: #e05304;
    transition: 0.4s;
    border: none;
  }

  .aBtn:disabled {
    color: #5b5957;
    background-color: #f4f1f0;
    border: none;
  }

  .info p {
    margin: 24px 0;
  }

  .about {
    align-items: center;
    background-image: url(images/illustration2Desk.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 120px;
  }

  .aboutHead {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    height: 582px;
    border-bottom: none;
    margin-bottom: 0;
  }

  .aboutHead h1 {
    margin-bottom: 0;
  }

  .aboutHead p {
    width: 55%;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 24px 0 42px 0;
  }

  .aboutLine {
    display: block;
    height: 1px;
    background-color: white;
    width: 80vw;
    margin-top: 42px;
  }

  .techList {
    height: 396px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 146px;
  }

  .techsContainer {
    width: 80vw;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    height: 50%;
    margin: 130px 0;
  }

  .titleBox {
    width: 37%;
  }

  .titleBox .contactTitle {
    text-align: left;
    font-size: 40px;
    color: #172b4d;
    line-height: 52px;
  }

  .contactForm {
    width: 58%;
  }

  .contactForm ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 330px;
    width: 100%;
  }

  .contactForm .smallInput {
    width: 100%;
  }

  .smallInput input {
    width: 98%;
  }

  .contactForm .messAreaInput {
    width: 100%;
  }

  .messAreaInput textarea {
    height: 114px;
    padding: 0;
    width: 100%;
  }

  .messAreaInput textarea::placeholder {
    padding: 12px;
  }

  .footerIconsContainer {
    margin-top: 12px;
    width: 100%;
  }

  .footerIconsContainer::after {
    display: none;
  }
}

#name,
#mail,
#msg {
  line-height: 1.5;
  outline: none;
}
