* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #3c3a39;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  transition: transform 0.5s;
}

.brand:hover {
  transform: skew(25deg);
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 67.5px;
}

/* mobile menu responsive */

/* .nav ul li a {
  text-decoration: none;
  color: #fff;
}

.nav li {
  transition: transform 0.3s;
}

.nav li a:hover {
  filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.nav li:hover {
  transform: scale(1.15);
}

.btn {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  border: none;
  color: #dbd8d7;
  background-color: transparent;
  text-decoration: none;
  border: none;
  transition: 0.3s;
}

.btn .xIcon {
  display: none;
  color: #67798e;
}

.btn .xIcon:hover {
  color: #c75300;
}

.links1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding: 20px;
}

.showMenu {
  transform: translateY(0);
}

.links1 li {
  padding: 1rem 0;
}

.menuLink {
  display: inline;
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.menuLink:hover {
  text-decoration: blueviolet;
}

.card-links a {
  text-decoration: none;
  color: white;
}

.footer-icons li a {
  color: #505f79;
}

.icon-links li a {
  color: #dbd8d7;
}

.btn a {
  text-decoration: none;
  margin-bottom: 20px;
  color: #dbd8d7;
}

.btn:hover {
  transform: scale(1.15);
}

.btn a:hover {
  color: #c75300;
}

.desk-ul {
  display: none;
} */

.first-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 590px;
  background-color: #1c1a19;
  padding: 0 24px 15px 24px;
  background-image: url(images/illustration.png);
  background-position-x: right;
  background-position-y: 325px;
  background-repeat: no-repeat;
  animation-duration: 3s;
  animation-name: entry-mob;
}

@keyframes entry-mob {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: right;
  }
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  animation-duration: 3s;
  animation-name: title;
}

@keyframes title {
  from {
    margin-left: -210%;
  }

  to {
    margin-left: 0;
  }
}

.title h1 {
  color: #c75300;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  line-height: 64px;
  margin-bottom: 15px;
  transition: transform 2s;
}

.title h2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.title .title-mobile {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 35px;
  width: 90vw;
}

.title-desktop {
  display: none;
}

.card-links li {
  margin-right: 12px;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  animation-name: rotate3D, comein;
  animation-duration: 5s;
  animation-iteration-count: 3;
  transition-property: animation-duration;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.card-links a {
  text-decoration: none;
  color: white;
}

.nav li {
  transition: transform 0.3s;
}

.nav li a:hover {
  filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
  transform: scale(1.15);
}

.footer-icons li {
  transition: 0.3s;
}

.footer-icons li:hover {
  transform: scale(1.25);
}

.footer-icons li a {
  color: #505f79;
}

.icon-links li a {
  color: #dbd8d7;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
}

.btn {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  border: none;
  color: #dbd8d7;
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s;
}

.btn a {
  text-decoration: none;
  margin-bottom: 20px;
  color: #dbd8d7;
}

.btn:hover {
  transform: scale(1.15);
}

.btn a:hover {
  color: #c75300;
}

.icon-links li {
  transition: transform 0.3s;
}

.links1 li {
  padding: 1rem 0;
}

.footer-icons li a:hover {
  filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.footer-icons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72px;
  border-top: 1px solid #dfe1e6;
  margin-bottom: 8px;
}

.footer-icons {
  color: #505f79;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 15px 0 13px 0;
  height: 40px;
  width: 200px;
}

.footer-icons-container::after {
  content: "";
  position: relative;
  background-color: #0d151e;
  height: 5px;
  border-radius: 10px;
  width: 134px;
}

/* mobile menu responsive */

.btn .xIcon {
  display: none;
  color: #67798e;
}

.btn .xIcon:hover {
  color: #c75300;
}

.icon-links {
  width: 200px;
  height: 0;
  color: #dbd8d7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.icon-links li:hover {
  transform: scale(1.25);
}

.icon-links li a:hover {
  filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.links1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding: 20px;
}

.showMenu {
  transform: translateY(0);
}

.menuLink {
  display: inline;
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.menuLink:hover {
  text-decoration: blueviolet;
}

.desk-ul {
  display: none;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 24px;
}

.works-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 107px 0 0 0;
  width: 85vw;
  border-bottom: 1px solid #212121;
}

.works-heading h2 {
  color: #1c1a19;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 50px;
  text-align: center;
}

.works-section {
  width: 85vw;
}

.works-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  height: 237px;
  background-image: url(images/stretching.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-card-texts {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-card-texts h3 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
  line-height: 44px;
  margin: 24px 0 12px 0;
}

.main-card-texts p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #091e42;
}

.sec-page-links {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.sec-page-links div {
  margin-right: 12px;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.see-project {
  margin-bottom: 24px;
  height: 48px;
  width: 327px;
}

.see-project button {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #c75300;
  padding: 12px;
  border: none;
}

.see-project button:hover {
  color: #c75300;
  background-color: #fff5e1;
  border: 1px solid #c75300;
  transition: 0.4s;
}

.see-project button:focus {
  color: #f4f1f0;
  background-color: #c75300;
  transition: 0.4s;
  border: none;
}

.see-project button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.containerDesk {
  display: none;
}

.mobile-container {
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr;
  row-gap: 24px;
  margin-bottom: 120px;
  width: 85vw;
}

.card {
  height: 386px;
  background-image: url(images/cardBack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.texts {
  padding: 0 16px;
  list-style-type: none;
}

.texts h3 {
  color: white;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.texts p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@keyframes rotate3D {
  0% {
    transform: rotateZ(360deg);
  }

  50% {
    transform: rotateY(360deg);
  }
}

@keyframes comein {
  from {
    margin-left: -210%;
  }

  to {
    margin-left: 0;
  }
}

.card-links {
  overflow: hidden;
  padding: 4px 16px 22px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: white;
  list-style-type: none;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c75300;
  height: 48px;
  width: 100%;
}

.card-btn .card-see-project {
  width: 100%;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #c75300;
  padding: 12px;
  border: none;
}

.card-btn .card-see-project:hover {
  color: #c75300;
  background-color: #fff5e1;
  border: 1px solid #c75300;
  transition: 0.4s;
}

.card-btn .card-see-project:focus {
  color: #f4f1f0;
  background-color: #c75300;
  transition: 0.4s;
  border: none;
}

.card-btn .card-see-project:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.about {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1a19;
  background-image: url(images/illustration2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 410px;
}

.about-texts {
  width: 85vw;
  margin-top: 120px;
  margin-bottom: 130px;
  height: 560px;
  border-bottom: 1px solid #fff;
}

.about-texts h2 {
  color: #c75300;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 3.9rem;
  letter-spacing: 0.37px;
  line-height: 81.5px;
  margin-bottom: 15px;
}

.title h1:hover {
  transform: rotate(360deg);
}

.about-texts p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.about-texts .get-resume {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #c75300;
  padding: 12px;
  border: none;
}

.about-texts .get-resume:hover {
  color: #c75300;
  background-color: #fff5e1;
  border: 1px solid #c75300;
  transition: 0.4s;
}

.about-texts .get-resume:focus {
  color: #f4f1f0;
  background-color: #c75300;
  transition: 0.4s;
  border: none;
}

.about-texts .get-resume:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

.language {
  display: none;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 130px;
  width: 85vw;

  /* transition */
  transition-property: display-flex;
  transition-duration: 3s;
}

.list {
  list-style-type: none;
}

.list .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-top: 12px;
}

@keyframes change-color {
  0% {
    color: white;
  }

  25% {
    color: yellow;
  }

  50% {
    color: rgb(255, 196, 0);
  }

  75% {
    color: rgb(255, 174, 0);
  }

  85% {
    color: #c75300;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }

  50% {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
}

.list .title i {
  color: #c75300;
  padding-right: 14px;
  animation-name: change-color, rotate;
  animation-duration: 3s, 3s;
  animation-iteration-count: 5;
}

.list .title .flip {
  transform: rotate(-45deg);
}

.list .title h3 {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-right: 14px;
}

.list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.list .lang {
  margin-top: 44px;
}

.list .lang li {
  margin-bottom: 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 834px;
  padding: 120px 24px 0 24px;
  width: 85vw;
}

.title-box {
  width: 85vw;
}

.title-box .contact-message {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  margin-bottom: 58px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 330px;
  width: 85vw;
}

.contact-form ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.contact-form .name-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
}

.name-email input {
  height: 18px;
  width: 90%;
  border: none;
}

.name-email input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  opacity: 0.8;
}

.text-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-area textarea {
  width: 100%;
  background-color: #fbf8f7;
  height: 90px;
  border: none;
  margin-bottom: 24px;
}

.text-area textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  opacity: 1;
}

.contact-form .contact-btn {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #c75300;
  padding: 12px;
  border: none;
}

.contact-form .contact-btn:hover {
  color: #c75300;
  background-color: #fff5e1;
  border: 1px solid #c75300;
  transition: 0.4s;
}

.contact-form .contact-btn:focus {
  color: #f4f1f0;
  background-color: #c75300;
  transition: 0.4s;
  border: none;
}

.contact-form .contact-btn:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
  border: none;
}

@media only screen and (min-width: 667px) {
  .first-page {
    display: flex;
    align-items: center;
  }

  .mainContainer {
    width: 85vw;
  }

  .mobile-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 120px;
    width: 85vw;
  }

  .nav .links1 {
    display: none;
  }

  .title .title-mobile {
    width: 60vw;
  }

  .sec-page-links {
    width: 40%;
  }

  .works-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 85vw;
    height: 450px;
    background-image: url(images/stretchingDesk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .about-texts p {
    width: 55vw;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    background-color: #3c3a39;
    height: 72px;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82vw;
  }

  .brand {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .nav .links1 {
    display: none;
  }

  .nav {
    display: block;
    width: 300px;
  }

  .nav li {
    transition: transform 0.3s;
  }

  .nav li a {
    text-decoration: none;
    color: white;
  }

  .nav li a:hover {
    filter: invert(43%) sepia(53%) saturate(2493%) hue-rotate(1deg) brightness(103%) contrast(104%);
  }

  .nav li:hover {
    transform: scale(1.15);
  }

  .nav ul {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .menu {
    display: none;
  }

  .first-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 755px;
    background-color: #1c1a19;
    padding: 0 25px 15px 25px;
    background-image: url(images/illustrationDesk.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
    animation-duration: 3s;
    animation-name: entry-desk;
  }

  @keyframes entry-desk {
    from {
      background-position-x: 200%;
    }

    to {
      background-position-x: right;
    }
  }

  .mainContainer {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
  }

  .title h1 {
    color: #c75300;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: 0.37px;
    line-height: 81.5px;
    margin-bottom: 15px;
  }

  .title h2 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
  }

  .title-desktop {
    display: block;
  }

  .title .title-desktop {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: 15px;
    margin-right: 50px;
  }

  .title-mobile {
    display: none;
  }

  .mainContainer .icon-links {
    width: auto;
    height: 40%;
    color: #dbd8d7;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .works {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .works-heading {
    width: 80vw;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 114px;
    border-bottom: none;
  }

  .works-heading h2 {
    padding-bottom: 0;
    text-align: left;
  }

  .works-heading::after {
    content: "";
    height: 2px;
    width: 65%;
    background-color: #818181b4;
  }

  .works-section {
    width: 80vw;
    height: 448px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .works-picture {
    height: 100%;
    width: 60vw;
    margin-top: 0;
    background-image: url(images/stretchingDesk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main-card {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
  }

  .main-card-texts {
    width: 100%;
  }

  .main-card-texts h3 {
    font-size: 40px;
    margin-bottom: 24px;
    margin-top: 0;
  }

  .main-card-texts p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .main-card .sec-page-links {
    margin-bottom: 24px;
  }

  .mobile-container {
    display: none;
  }

  .containerDesk {
    width: 80vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 37px;
    margin-bottom: 120px;
  }

  .card-1 {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0), hsl(0 0% 0% / 0)), url(images/card1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-1 .texts {
    display: none;
  }

  .card-1 .card-links {
    display: none;
  }

  .card-btn {
    height: 58px;
  }

  .card-2 .card-btn {
    display: none;
  }

  .card-3 .card-btn {
    display: none;
  }

  .card-4 .card-btn {
    display: none;
  }

  .card-1:hover .card-btn {
    display: block;
  }

  .card-2 {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(hsl(0 0% 0% / 0.3), hsl(20 0% 0% / 0.4) 5%, hsl(0 0% 0% / 1)), url(images/card2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-3 {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(hsl(0 0% 0% / 0.3), hsl(0 0% 0% / 0.4) 5%, hsl(0 0% 0% / 1)), url(images/card3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-4 {
    height: 435px;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(hsl(0 0% 0% / 0.3), hsl(20 0% 0% / 0.4) 5%, hsl(0 0% 0% / 1)), url(images/card4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background-color: #c75300;
    display: block;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .button:hover {
    width: 99%;
    height: 99%;
    color: #c75300;
    background-color: #fff5e1;
    border: 1px solid #c75300;
    transition: 0.4s;
  }

  .button:focus {
    color: #f4f1f0;
    background-color: #c75300;
    transition: 0.4s;
    border: none;
  }

  .button:disabled {
    color: #5b5957;
    background-color: #f4f1f0;
    border: none;
  }

  .texts p {
    margin: 24px 0;
  }

  .about {
    align-items: center;
    background-image: url(images/illustration2Desk.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 120px;
  }

  .about-texts {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    height: 582px;
    border-bottom: none;
    margin-bottom: 0;
  }

  .about-texts h2 {
    margin-bottom: 0;
  }

  .about-texts p {
    width: 55%;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 24px 0 42px 0;
  }

  .language {
    display: block;
    height: 1px;
    background-color: white;
    width: 80vw;
    margin-top: 42px;
  }

  .lang-list {
    height: 396px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 146px;
  }

  .lang-container {
    width: 80vw;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    height: 50%;
    margin: 130px 0;
  }

  .title-box {
    width: 37%;
  }

  .title-box .contact-message {
    text-align: left;
    font-size: 40px;
    color: #172b4d;
    line-height: 52px;
  }

  .contact-form {
    width: 58%;
  }

  .contact-form ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 330px;
    width: 100%;
  }

  .contact-form .name-email {
    width: 100%;
  }

  .name-email input {
    width: 98%;
  }

  .contact-form .text-area {
    width: 100%;
  }

  .text-area textarea {
    height: 114px;
    padding: 0;
    width: 100%;
  }

  .footer-icons-container {
    margin-top: 12px;
    width: 100%;
  }

  .footer-icons-container::after {
    display: none;
  }
}

#name,
#email,
#msg {
  line-height: 1.5;
  outline: none;
}
