.menu-icon {
  align-self: center;
  margin-right: 12px;
  fill: #dbd8d7;
}

nav,
.main-page {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main-page {
  background-image: url("images/Illustration.png");
  flex-direction: column;
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 280px;
  padding-bottom: 150px;
}

h1,
h2,
.text,
.john {
  margin-left: 24px;
  margin-right: 24px;
}

.list-item {
  list-style: none;
}

svg {
  fill: #dbd8d7;
  margin-right: 20px;
}

.menu-icon:hover,
.list-item:hover svg {
  fill: #ff6b00;
}

.icons {
  margin-left: 35px;
}

ul {
  display: flex;
  padding-left: 16px;
  margin-top: 0;
}

h1 {
  margin-top: 120px;
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: "Crete Round", serif;
  width: 327px;
}

.description {
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 0;
}

nav {
  background-color: #3c3a39;
}

.text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 5px;
}

.john,
.description {
  color: white;
  font-family: "Roboto", sans-serif;
}

.john {
  font-size: 18px;
}

.card {
  width: 327px;
  height: 386px;
  background-image: url(images/background.png);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 24px;
  position: relative;
  right: 8px;
}

.card-header {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: white;
  padding: 84px 16px 0;
  margin: 0;
}

.card-header-desk {
  display: none;
}

.card-body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 2px;
  margin-top: 12px;
  color: white;
  padding-left: 16px;
  width: 295px;
  height: 87px;
  line-height: 24px;
  margin-bottom: 12px;
}

.lang {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
  position: relative;
  bottom: 15px;
}

.see-project {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  width: 100px;
  height: 48px;
  background-color: #ff6b00;
  color: white;
  text-decoration: none;
  padding: 15px 113.5px;
}

.see-project:hover {
  color: #1c1a19;
}

.lang a {
  text-decoration: none;
  padding: 10px 12px;
  color: white;
}

.lang1 a {
  text-decoration: none;
  color: #091e42;
}

.lang:hover a {
  color: #ff6b00;
  background-color: white;
}

.works {
  margin: 0 auto;
  width: 360px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 2.2fr 1fr 1fr 1fr 1fr 1fr 1.07fr;
  row-gap: 30px;
}

.about-me-main {
  height: 1901px;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  background-image: url(images/illustration_2.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: 650%;
  background-position-y: 21%;
  margin: 0 auto;
}

.about-me-title {
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-weight: 400;
  color: #ff6b00;
  margin-left: 24px;
  margin-top: 120px;
  margin-bottom: -10px;
}

.about-me-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f4f5f7;
  margin-left: 24px;
}

.get-resume {
  background-color: #ff6b00;
  width: 161px;
  height: 48px;
  margin-left: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 20px;
  border: none;
}

.get-resume:hover {
  color: #ff6b00;
  background-color: white;
}

.ruler2 {
  width: 90%;
  background-color: #fff;
  height: 1px;
  position: relative;
  top: 200px;
}

.ruler {
  width: 100%;
  background-color: #000;
  height: 1px;
  position: relative;
  top: 120px;
}

li {
  margin-top: 32px;
}

.see-project1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  margin-left: 16px;
  margin-bottom: 12px;
}

.lang1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  list-style: none;
  background-color: white;
  border: 1px solid #e5e5e5;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  position: relative;
  top: 155px;
  right: 26px;
}

.lang1:hover {
  background-color: #ff6b00;
}

.lang1 a:hover {
  background-color: #ff6b00;
  color: white;
}

.card-body1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  line-height: 24px;
  position: relative;
  top: 165px;
}

.card-header2 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  color: #1c1a19;
  position: relative;
  top: 115px;
  right: 25px;
  white-space: nowrap;
}

.card-header3 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: #08152c;
  position: relative;
  top: 205px;
  right: 3px;
}

.card-primary {
  background-image: none;
  width: 327px;
  height: 386px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 24px;
  position: relative;
  right: 8px;
}

.stretch {
  position: relative;
  top: 215px;
  width: 327px;
  height: 327px;
}

.see-project2 {
  position: relative;
  top: 157px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  background-color: #ff6b00;
  color: white;
  text-decoration: none;
  width: 120px;
  height: 48px;
  padding: 7px 1px;
  text-align: center;
}

.see-project2:hover {
  color: #1c1a19;
}

.down {
  position: relative;
  top: 150px;
}

.doubledown {
  position: relative;
  top: 250px;
}

.pad-bottom {
  padding-bottom: 28px;
}

.lists {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  text-align: center;
}

.list-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.diamond {
  width: 18px;
  height: 18px;
  position: relative;
  left: 127px;
  top: 275px;
}

.square {
  width: 18px;
  height: 18px;
  position: relative;
  left: 105px;
  top: 615px;
}

.circle {
  width: 18px;
  height: 18px;
  position: relative;
  left: 160px;
  top: 1014px;
}

/* here start the section about */
#about-section {
  /* set the position and dimensions */
  width: 375px;
  margin: 120px auto auto auto;
  display: flex;
  flex-direction: column;
}

.form-text {
  /* set the position and dimensions */
  width: 327px;
  height: auto;
  margin: auto 24px 70px 24px;

  /* set the font property */
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: rgba(23, 43, 77, 1);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-name {
  margin: auto;
  width: 327px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 39px;
  padding-bottom: 14px;
  text-indent: 16px;
  outline: none;
}

.form-email {
  margin: auto;
  width: 327px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 39px;
  padding-bottom: 14px;
  text-indent: 16px;
  outline: none;
}

.form-text-area {
  margin: auto;
  width: 327px;
  height: 114px;
  background-color: #fbf8f7;
  border: none;
  text-indent: 14px;
  color: #3c3a39;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  outline: none;
}

.form-submit {
  background-color: #ff6b00;
  width: 131px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  margin: 24px auto;
  border: none;
  font-size: 17px;
}

.form-submit:hover {
  background-color: white;
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.form-social {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  margin: auto auto;
  position: relative;
  right: 9px;
}

.social-links {
  filter: invert(35%) sepia(44%) saturate(317%) hue-rotate(179deg) brightness(55%) contrast(88%);
}

.social-links:hover {
  filter: invert(48%) sepia(42%) saturate(5099%) hue-rotate(2deg) brightness(104%) contrast(103%);
}

hr {
  width: 134px;
  height: 5px;
  margin: 23px auto 8px auto;
  background-color: rgba(13, 21, 30, 1);
  border-radius: 10px;
}

.nav-links {
  display: none;
}

@media (min-width: 992px) {
  nav,
  .main-page {
    width: 100%;
  }

  .nav-links {
    display: initial;
  }

  .menu-icon {
    display: none;
  }

  * {
    box-sizing: border-box;
  }

  .john {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 154px;
    color: white;
  }

  .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 151px;
    position: relative;
    bottom: 7px;
  }

  .nav-links li {
    list-style: none;
    fill: white;
  }

  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 16px;
  }

  .nav-links li a:hover {
    color: #f55800;
    filter: invert(48%) sepia(42%) saturate(5099%) hue-rotate(2deg) brightness(104%) contrast(103%);
  }

  .main-page {
    height: 800px;
    background-image: url("images/Illustration-header.png");
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 37%;
  }

  h1 {
    margin-left: 143px;
    margin-top: 200px;
    width: 350px;
    font-size: 72px;
  }

  h2 {
    position: relative;
    top: 24px;
    margin-left: 143px;
    width: 500px;
  }

  .text {
    margin-left: 143px;
    width: 566px;
    height: 123px;
    position: relative;
    top: 48px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  .description {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
  }

  .icons {
    display: none;
  }

  .list-item-desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 270px;
    left: 15px;
  }

  .card-header2 {
    position: relative;
    top: 115px;
    right: 550px;
  }

  .ruler {
    width: 794px;
    position: relative;
    top: 40px;
    right: 50px;
  }

  .stretch {
    position: relative;
    top: 215px;
    right: 420px;
    width: 684px;
    height: 448px;
  }

  .card-header3 {
    font-size: 40px;
    position: relative;
    top: -270px;
    right: -290px;
  }

  .card-body1 {
    font-size: 20px;
    line-height: 28px;
    position: relative;
    top: -300px;
    right: -290px;
    width: 448px;
    height: 140px;
  }

  .lang1 {
    position: relative;
    top: -300px;
    right: -266px;
  }

  .see-project2 {
    position: relative;
    top: -280px;
    right: -292px;
  }

  .works {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .card {
    display: flex;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 24px;
    position: relative;
    bottom: 75px;
    right: 430px;
    width: 369px;
    height: 435px;
    background-image: none;
  }

  .card-primary {
    grid-area: 1 / 1 / 2 / 4;
    position: relative;
    right: 210px;
  }

  .work1 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .work2 {
    grid-area: 3 / 3 / 4 / 4;
  }

  .work3 {
    grid-area: 3 / 4 / 4 / 5;
  }

  .work4 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .work5 {
    grid-area: 4 / 3 / 5 / 4;
  }

  .work6 {
    grid-area: 4 / 4 / 5 / 5;
  }

  .card-work1 {
    background-image: url(images/placeholder1.png);
  }

  .card-work2 {
    background-image: url(images/placeholder2.png);
  }

  .card-work3 {
    background-image: url(images/placeholder3.png);
  }

  .card-work4 {
    background-image: url(images/placeholder4.png);
  }

  .card-work5 {
    background-image: url(images/placeholder2.png);
  }

  .card-work6 {
    background-image: url(images/placeholder3.png);
  }

  .work1 .see-project {
    width: 369px;
    height: 58px;
    text-align: center;
    padding-top: 17px;
    position: absolute;
    top: 378px;
  }

  .work1 .lang {
    display: none;
  }

  .card-header {
    display: none;
  }

  .work1 .card-header {
    display: none;
  }

  .work1 .card-body {
    display: none;
  }

  .card-header-desk {
    display: initial;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 32px;
    color: white;
    padding: 84px 16px 0;
    margin: 0;
    width: 337px;
    position: absolute;
  }

  .work2 .card-header-desk {
    top: 95px;
  }

  .work2 .see-project {
    display: none;
  }

  .work2 .card-body {
    position: absolute;
    top: 272px;
    width: 337px;
  }

  .work2 .lang {
    position: relative;
    top: 347px;
  }

  .work3 .card-header-desk {
    top: 140px;
  }

  .work3 .card-body {
    position: absolute;
    top: 270px;
    width: 337px;
  }

  .work3 .see-project {
    display: none;
  }

  .work3 .lang {
    position: relative;
    top: 347px;
  }

  .work5 .card-header-desk {
    top: 95px;
  }

  .work5 .see-project {
    display: none;
  }

  .work5 .card-body {
    position: absolute;
    top: 272px;
    width: 337px;
  }

  .work5 .lang {
    position: relative;
    top: 347px;
  }

  .work6 .card-header-desk {
    top: 140px;
  }

  .work6 .card-body {
    position: absolute;
    top: 270px;
    width: 337px;
  }

  .work6 .see-project {
    display: none;
  }

  .work6 .lang {
    position: relative;
    top: 347px;
  }

  .work4 .card-header-desk {
    top: 100px;
  }

  .work4 .card-body {
    position: absolute;
    top: 270px;
    width: 337px;
  }

  .work4 .see-project {
    display: none;
  }

  .work4 .lang {
    position: relative;
    top: 347px;
  }

  .about-me-main {
    width: 100%;
    height: 1195px;
    background-size: 35%;
    background-position-x: 100%;
    background-position-y: 10%;
    position: relative;
    top: 50px;
  }

  .ruler2 {
    width: 83%;
    background-color: #fff;
    height: 1px;
    position: relative;
    top: 310px;
  }

  .about-me-title {
    margin-left: 143px;
    margin-top: 120px;
    margin-bottom: -10px;
  }

  .about-me-text {
    font-size: 20px;
    margin-left: 143px;
    width: 566px;
    position: absolute;
    top: 230px;
  }

  .get-resume {
    width: 161px;
    height: 48px;
    margin-left: 143px;
    position: absolute;
    top: 360px;
  }

  .language {
    position: relative;
    top: 320px;
    right: 145px;
  }

  .frameworks {
    position: relative;
    top: -34px;
    left: 220px;
  }

  .skills {
    position: relative;
    top: -452px;
    left: 600px;
  }

  .javascript {
    position: relative;
    right: 250px;
  }

  .bootstrap {
    position: relative;
    right: 250px;
  }

  .codekit {
    position: relative;
    right: 230px;
  }

  .diamond {
    top: 468px;
    left: 150px;
  }

  .square {
    left: 500px;
    top: 455px;
  }

  .circle {
    position: relative;
    top: 436px;
    left: 935px;
  }

  #about-section {
    width: 100%;
  }

  .form-text {
    width: 455px;
    font-size: 40px;
    margin-left: 135px;
    position: relative;
    top: 180px;
    right: 200px;
  }

  .form-container {
    position: relative;
    top: -120px;
    left: 120px;
  }

  .form-name {
    width: 684px;
  }

  .form-email {
    width: 684px;
  }

  .form-text-area {
    width: 684px;
  }

  .form-submit {
    position: relative;
    right: 276px;
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #dfe1e6;
    position: relative;
    bottom: 90px;
  }

  .form-social {
    justify-content: center;
  }

  .social-links {
    margin-right: 20px;
  }
}
