.menu-icon {
  align-self: center;
  margin-right: 12px;
  fill: #dbd8d7;
}

nav,
main {
  display: flex;
  justify-content: space-between;
  width: 375px;
  background-color: antiquewhite;
  margin: 0 auto;
}

main {
  background-image: url("illustration.png");
  flex-direction: column;
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 280px;
  padding-bottom: 150px;
}

h1,
p {
  margin-left: 20px;
  margin-right: 20px;
}

.list-item {
  list-style: none;
}

svg {
  fill: #dbd8d7;
  margin-right: 20px;
}

.menu-icon:hover,
.list-item:hover svg {
  fill: #ff6b00;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

ul {
  display: flex;
  padding-left: 16px;
  margin-top: 0;
}

h1 {
  margin-top: 120px;
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: "Crete Round", serif;
}

.description {
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 0;
}

nav {
  background-color: #3c3a39;
}

.text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 5px;
}

.john,
.description {
  color: white;
  font-family: "Roboto", sans-serif;
}

.john {
  font-size: 18px;
}
